body {
  position: relative;
  font-family: "Poppins",sans-serif;
  font-size: 1rem;
}


.navbar{
  display: flex;
  position: relative;
}


nav{
  display: flex;
  position: relative;
}


.li{
  list-style:lower-alpha;
}

